@import '../../partials/_varibles.scss';
@import '../../partials/_fonts';
@import '../../partials/_mixins';

.button {
    width: 95%;
    background-color: $primary-color2;
    color: $primary-color4;
    height: 2.5rem;
    margin: .5rem 1rem .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .25rem;
    line-height: 1.25rem;
    font-size: .8125rem;
    border: none;

    &__icon {
        margin-right: 30%;
        margin-left: 1rem;
    }
    
}

#comment {
    &__btn {
        width: 80%;
        margin-bottom: 1rem;
        margin-left: 20%;
        
        
    };
};

@include tablet {
    .button {
        width: 40%;
        padding-right: 2rem;

       &__icon {
            margin-right: 20%;
       }
    }
}