@import '../../partials/_varibles';
@import '../../partials/_mixins';

* {
    margin: 0;
    padding: 0;
}

.nav {
    &__search {
        height: 2.25rem;
        position: relative;
        margin-right: 1rem;
        width: 76%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: .25rem;
        border:1px solid $secondary-color3;
        padding-left: 3rem;
        
        &--bar {
            display: flex;
            height: 2.25rem;
            margin: .5rem 1rem .5rem;
            width: 95%
        };
    };
};

.search {
    &__bar {
        display: flex;
        align-items: center;
    }
}

@include tablet {
    .nav {
        &__search {
            width: 60%;
        };
    };
};  