@import '../../partials/_fonts';
@import '../../partials/_mixins';
@import '../../partials/_varibles';

.video {
    &__section {
        width: 100%;
    }
}
.next {
    &__video {
        font-size: $font14;
        font-family: 'AnReg';
        color: $primary-color3;
        margin-left: 1rem;
        margin-top: 1rem;
        
         
    };
};

#next {
    &__video {
        flex-direction: column;
    };
}

@include desktop {
    .next {
        &__video {
            font-size: $font14;
        };
    };

    .video {
        
        &__section {
            display: flex;
            margin: 1.5rem 0 1.5rem;
            
        };
    };
};

