@import '../../partials/_mixins';

.comment {

    &__form {
        
        &--data {
         width: 70%;
        display: flex;
        margin-left: 30%;
        flex-direction: column;
        };

        &--input {
            height: 4rem;
        };
    };
};

#comment {
    &__btn {
        width: 80%;
        
    };
};

label {
    font-size: .625rem;
}

@include tablet {
    .comment {

        &__form {
            display: flex;
        }
    }
};

@include desktop {

    .comment {

        &__form {
            align-items: center;
            margin: 1.5rem;
           

            &--input {
                height: 2.5rem;
            }

            &--data {
                position: relative;
                top: -.5rem;
            };
            
        };
    };

};