@import '../../partials/_fonts';
@import '../../partials//_varibles';
@import '../../partials/_mixins';

.video {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: 40%;
    

    &__info {
        display: flex;
        margin-bottom: 1rem;
        margin-right: 3.5rem;

        &--views {
            color: $primary-color3;
        }

        &--likes {
            color: $primary-color3;
        }

        &--timestamp {
            color: $primary-color3;
        }
    };

    &__title {
        margin: 1rem 0 1rem;
        font-family: 'AnBold';
        font-size: $font24;
    }

    &__player {
        width: 112%;
        margin-left: -1rem;

        &--background {
            background-color: $secondary-color1;
        }
    }

    &__current {
        margin: 1rem;
    }

    &__details {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 1rem 0 1rem;
        display: flex;
        justify-content: space-between;
        font-size: $font13;

    }

    &__channel {
        font-family: 'AnBold';
        margin-bottom: 1rem;
    }

    &__description {
        margin: 1rem 0 1rem;
        font-family: 'Anreg';
        font-size: $font13;

    }
};


@include tablet {
    .video {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: $font14;

        &__details {
            border-top: none;
            padding: 0;
        }

        &__player {
            width: 90%;
            margin-left: 5%;
        }

        &__current {
            width: 100%;
            margin-left: 0;
            
        }

        &__channel {
            margin: 0 2rem 0 1rem;
        }

        &__info {
            margin-right: 1rem;
        }

        &__description {
            font-size: $font14;
        }

        &__title {
            margin-bottom: 0;
            font-size: $font33;
            
        }

    }

    #views {
        margin-left: 3rem;
    }
}


