$primary-color1: #323232;
$primary-color2: #0095ff;
$primary-color3: #AFAFAF;
$primary-color4: #FFFFFF;

$secondary-color1: #000000;
$secondary-color2: #0065ad;
$secondary-color3: #e1e1e1;
$secondary-color4: #fafafa;