@import "../../partials/_fonts.scss";
@import "../../partials/_varibles.scss";

.video {
    &__item {
        &--list {
            margin: 1rem;
            display: flex;
        }
    }

    &__thumbnail {
        margin-left: 1rem;

        &--img {
        border-radius: 8px;
        min-width: 145px;
        height: 5rem;
        object-fit: cover;
        
        };

        &--title {
            margin: .5rem 1rem .5rem 0rem;
            font-size: $font13;
            font-family: "AnBold";
            
        };

        &--channel {
            font-size: $font13;
        }

        
    };
};
  
  
// .highlight {
//     display: flex;
//     margin-top: 1rem;
    

//     &__section {
//         margin: 1.5rem 1rem 1rem;
//     }

//     &__sub {
//         display: flex;
//         margin-left: 3.5rem;

//         &--likes {
//             margin-right: .7rem;
//             margin-left: 1.2rem;
//         }

//         &--views {
//             margin-right: .5rem;
//         }

//         &--info {
//             border-top: 3px solid black;
//             border-bottom: 3px solid black;
//             padding-bottom: 1rem;

//         }
        
//     }

//     &__title {
//         font-size: 24px;
//         line-height: 32px;
//         margin-bottom: 1rem;
//     }

//     &__article {
//         margin: 1rem 0 1rem;
//     }

// }
  
  