@import "../../partials/_fonts.scss";
@import "../../partials/_varibles.scss";
@import '../../partials/_mixins';

.video {
    &__item {
        &--list {
            margin: 1rem 0;
            display: flex;
        }
    }

    &__thumbnail {
        margin-left: 1rem;

        &--img {
        border-radius: 8px;
        min-width: 120px;
        height: 4.5rem;
        object-fit: cover;
        
        };

        &--title {
            margin: .5rem 1rem .5rem 0rem;
            font-size: $font13;
            font-family: "AnBold";
            
        };

        &--channel {
            font-size: $font13;
        }

        
    };
};
  
  @include tablet {
    .video {
        &__item {

            &--list {
                font-size: $font14; 
            }
        }
    }
    
};

@include desktop {

    .video{

        &__item {

            &--list {
               
            }
        }

        &__section {
            width: 85%;
            margin: 0 8%;
        }
    }
}
  
  