@import '../../partials/_fonts';
@import '../../partials/_varibles';
@import '../../partials/_mixins';

.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    

   &__info {
    
    flex-direction: row;
    border-top: 1px solid $primary-color3;
    border-bottom: 1px solid $primary-color3;
    font-family: 'AnReg';
    font-size: $font13;
    margin: 0 1rem ;
    padding:1rem

   }

   &__timestamp {
    color: $primary-color3;
   }

  

    &__likes {
        display: flex;
        margin: 1rem;


    }

    &__name {
        font-family: 'AnBold';
    }
};

@include tablet {
    .comment {

        &__info {
            font-size: $font14;
        };

        
    };
}